.card{
    background : #E4E3F3; 
    display:flex;
    justify-content:center;
    align-items: center;
    border: 2px solid #232d45bd;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 12px 50px 0 gray;
    transition: 0.3s;
    height: 600px;
    border-radius : 50px;
    
}
img{
    padding-top:10px;
   border-radius : 50px;
   height: 350px;    
    width: 370px;
   cursor: pointer;
}
img:hover{
    border-radius : 80px;
    opacity:0.95;
}
.btn{
    background-color: green;
    margin-top:20px;
    margin-bottom :20px;
    border: 2px solid #232d45bd;
    width: 500px;
    
}
#totalprice{
    color:#000000f2;
    text-align:center;
    margin-top:15px;
    font-size: 30px;
}
body{
    background-color: #275488;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiGy8AtuWkS33lcf78gn2HeY70Ucvz0zGeCw&s');
    background-size: cover; /* התמונה תתפרס על כל הרקע מבלי לשנות את יחס הרוחב-גובה */
    background-position: center center; /* התמונה ממורכזת במרכז המסך */
    background-repeat: no-repeat; /* מונע חזרה על התמונה */
    filter: brightness(90%);
    font-family: 'Roboto', sans-serif; /* השתמש בגופן Roboto */            
}
html, body {
    height: 170%; /* מבטל את גובה המוגדר כברירת מחדל */
}
input{
    border-radius: 7px;
    border : 2px solid black;
    width: 250px;
    height: 30px;
    margin: 5px;
    
}
span{
    font-size: 30px;
    color: #6a3030;
    font-weight: bold;
}






h1{
    color:white;
}


footer {
margin-top: 300px;
height: 95px;
text-align: center;

}
