h1{
    margin-top: 60px;
}
.FormContainer {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */

}

#signupForm {
    max-width: 400px; /* Optionally, set a maximum width for the form */
    text-align: center;
    padding: 20px; /* Add some padding for spacing */
}

#signinForm {
    max-width: 500px; /* Optionally, set a maximum width for the form */
    text-align: center;
    padding: 20px; /* Add some padding for spacing */
}



body {
    padding: 1px;
    align-items: center;
    background-image: url('images/bg_image.jpg');
    background-size: cover;
    text-align: center;
    justify-content: center; /* Horizontally center content */
    border: 3px solid rgb(255, 255, 255);
}


#SigninButton{
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#SignupButton{
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Additional styles for input fields if needed */
input[type="text"],
input[type="email"],
input[type="password"] {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

img {
        border: 3px solid rgb(255, 255, 255);
        background-color: #80c3e8;
        border-radius: 25px;
        margin-right: 10px;
        padding: 6px;
        margin-bottom: 30px;
        height: auto;

}
header{
    text-align: center;
    color: #000000;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

 
}
#leftBtn{
    width: 60px;
    margin-right: 100%;
    height: 35px;
    font-size: large;
}


#contain_body { 
    background-image: url(https://img.freepik.com/free-photo/top-view-popcorn-with-copy-space_23-2148470161.jpg )   ;
    background-size: cover;
    background-repeat: no-repeat;
}

h4 {
    color: rgb(0, 0, 0);
}   

p{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #80c3e8;
    border-radius: 20px;
    color: #000000;
    border: 1px dotted #000000; 

}

footer{
    display: flex;
    left: 0;
    color: #000000;
    padding-top: 50px;
    justify-content: center;
     
}


#submit:hover{
    cursor: pointer;
    background-color: #1de43b;
    cursor: pointer
}




label{
    color: #000000;
}


#drama:hover , #action:hover , #comedy:hover {
    border-radius: 30px;
    width: 150px;
    height: 200px;
    border: 2px solid black ;
}
#drama , #action, #comedy {
    border-radius: 3px;
    width: 150px;
    height: 200px;
    border: 2px solid black ;
}

#showD:hover{
    border-radius: 500px;
    border: 2px solid black ;
}
#showD{
    border: 2px solid black;
}


/*style for hostage bthn*/
#bthn{
    border: 5px double #009dff;
    filter: opacity(100%) ; 
    box-shadow: 5px 12px 5px #ffffff;
    animation: hostage 4s ease-in-out infinite alternate;
}

#player_series{
    left: 50;

}


